<!DOCTYPE html>
<html ng-app="huebook">
<head>
  <title>Huebook</title>
  <%= stylesheet_link_tag    'huebook', media: 'all' %>
  <%= javascript_include_tag 'huebook' %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="huebook">
  <div id="top-pane">
    <div id="top-pane-content" class="clearfix">
      <%= link_to 'H', app_path + '#/', id: 'hblogo' %>

      <div class="btn btn-default" id="hb-new-event-btn" ng-click="createEvent()">New event</div>

      <a href="<%= destroy_user_session_path %>" data-method="delete" class="btn btn-default" id="hb-logout-btn">
        <span class="glyphicon glyphicon-log-out"></span>
      </a>

      <form id="hb-search-form">
      <div id="hbsearch" class="input-group">
        <input type="text" class="form-control" id="hb-search" placeholder="Search Huebook..." ng-keydown="$event.which === 13 && search()">
        <div class="input-group-addon btn btn-default">
          <span class="glyphicon glyphicon-search" ng-click="search()"></span>
        </div>
      </div>
      </form>

    </div>
  </div>
  <div id="body">
    <div id="content" ng-view class="clearfix">
    </div>
  </div>
  <div id="footer">
    <div id="footer-content">
      <a href="http://giphy.com/gifs/1333qui7ODRzG0/html5" target="_blank"> Huehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehue
      </a>
    </div>
  </div>
</div>
</body>
</html>

